.input-group {
  .btn-group {
    box-shadow: none;
  }

  &:not(.has-validation) > .btn-group:not(:last-child) {
    > :not(:last-child):not(.dropdown-menu),
    > .dropdown-toggle:last-child,
    .dropdown-toggle:nth-last-child(n + 1) {
      @include border-end-radius(0);
    }
  }

  &.has-validation > .btn-group {
    > :last-child:not(.dropdown-toggle):not(.dropdown-menu),
    > .dropdown-toggle:last-child {
      @include border-end-radius(0);
    }
  }

  > .btn-group:last-child {
    > :first-child:not(.dropdown-menu) {
      @include border-start-radius(0);
    }
  }
}

.input-group-text {
  min-height: $input-group-min-height;
  height: $input-group-height;
}

.input-group-lg {
  .input-group-text {
    height: $input-group-lg-height;
    font-size: $input-group-lg-text-font-size;
  }
}

.input-group-sm {
  .input-group-text {
    min-height: $input-group-sm-min-height;
    height: $input-group-sm-height;
    font-size: $input-group-sm-text-font-size;
    line-height: $input-group-sm-text-line-height;
  }
}

.form-outline .form-control:focus ~ .form-label ~ .form-label {
  transform: none;
  color: rgba(0, 0, 0, 0.6);
  border: 1px black;
}
.form-control {
  color: rgba(0, 0, 0, 0.6);
}