<template>
  <div class="login-form__container">
    <form class="login-form">
      <LoginForm />
    </form>
  </div>
</template>

<script>
import LoginForm from "@/components/LoginForm.vue";
export default {
  name: "LoginView",
  components: {
    LoginForm,
  },
};
</script>

<style scoped lang="scss">
.login-form {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffe8e0;
  }
}
</style>