<template>
  <div>
    <SelectMenu
      class="mt-3"
      v-model="currentCategory"
      :options="categories"
      label-name="title"
      value-name="name"
    />
    <SearchMenu v-model="searchDish" />
    <div class="add-dish__wrapper text-center">
      <MDBBtn @click="on_dish_action({}, 'new')" color="main" rounded size="lg">
        <MDBIcon icon="plus" /> Добавить блюдо
      </MDBBtn>
    </div>

    <div v-if="dishesToShow.length" class="dish-list__wrapper">
      <DishCard v-for="(dish, idx) in dishesToShow" :key="idx" :dish="dish">
        <MDBBtn
          @click="on_dish_action(dish, 'edit')"
          class="button-menu"
          color="second"
          rounded
        >
          Редактировать
        </MDBBtn>
        <MDBBtn
          @click="on_dish_action(dish, 'stop_list')"
          color="second"
          class="button-menu"
          rounded
        >
          Стоп-лист
        </MDBBtn>
        <MDBBtn
          @click="on_dish_action(dish, 'delete')"
          color="second"
          class="button-menu"
          rounded
        >
          Удалить
        </MDBBtn>
      </DishCard>
    </div>
    <h3 v-else class="text-center dish-list__plug">Здесь пока ничего нет</h3>
    <DishEditModal
      @open="on_modal_open"
      @close="on_modals_close"
      :showModal="showDishEditModal"
      :dishId="IdActionDish"
      :isNewDish="isNewDish"
    ></DishEditModal>
    <DialogModal
      v-model="showDishActionModal"
      :title="dishModalData?.title"
      :body-text="dishModalData?.body"
      @ok="dishModalData?.onOk(IdActionDish)"
      @cancel="on_modals_close"
    />
  </div>
</template>

<script>
import { MDBBtn, MDBIcon } from "mdb-vue-ui-kit";
import SearchMenu from "@/components/SearchMenu.vue";
import DishCard from "@/components/DishCard.vue";
import SelectMenu from "@/components/SelectMenu.vue";
import DishEditModal from "@/components/DishEditModal.vue";
import DialogModal from "@/components/DialogModal.vue";
import { mapGetters, mapActions, mapState } from "vuex";

export default {
  name: "HomeView",
  components: {
    SearchMenu,
    DishCard,
    SelectMenu,
    DishEditModal,
    MDBBtn,
    MDBIcon,
    DialogModal,
  },
  data() {
    return {
      currentCategory: "",
      showDishEditModal: false,
      showDishActionModal: false,
      isNewDish: false,
      IdActionDish: 0,
      dishAction: "delete",
      searchDish: "",
    };
  },
  computed: {
    ...mapState({
      dishes: (state) => state.dishes.dishes,
      categories: (state) => state.dishes.categories,
    }),
    ...mapGetters(["GET_DISHES_BY_CATEGORIES"]),
    // Блюда до показа. Фильтр по категории и полю для поиска
    // TODO: Сделать сортировку по алфавиту
    dishesToShow() {
      const dishes =
        this.currentCategory === ""
          ? this.dishes
          : this.GET_DISHES_BY_CATEGORIES[this.currentCategory];
      return dishes
        .filter((dish) => !dish.is_stopped)
        .filter((dish) =>
          dish.name.toLowerCase().includes(this.searchDish.toLowerCase())
        );
    },
    // В зависимости от действия (удалить/в стоп-лист) меняются текст и callback
    dishModalData() {
      const modalData = {
        delete: {
          title: "Удалить заказ?",
          body: `Вы действительно хотите удалить блюдо ${this.IdActionDish}`,
          onOk: (dish_id) => this.delete_dish(dish_id),
        },
        stop_list: {
          title: "Перенести блюдо в стоп-лист?",
          body: `Вы действительно хотите перенести блюдо в стоп-лист блюдо ${this.IdActionDish}?`,
          onOk: (dish_id) =>
            this.toggle_dish_stop_list({ dish_id, is_stopped: true }),
        },
      };
      return modalData[this.dishAction];
    },
  },
  methods: {
    ...mapActions(["toggle_dish_stop_list", "delete_dish"]),
    // Обработка действий с блюдом
    on_dish_action(dish, dishAction) {
      this.IdActionDish = dish.id;
      this.dishAction = dishAction;
      if (dishAction === "edit") {
        this.showDishEditModal = true;
      } else if (dishAction === "new") {
        this.isNewDish = true;
        this.showDishEditModal = true;
      } else if (dishAction === "stop_list" || dishAction === "delete") {
        this.showDishActionModal = true;
      }
    },
    on_modal_open() {},
    on_modals_close() {
      this.showDishEditModal = false;
      this.showDishActionModal = false;
      this.isNewDish = false;
      this.IdActionDish = 0;
      this.dishAction = "delete";
    },
  },
};
</script>
<style lang="scss" scoped>
.dish-list__wrapper {
  height: 70vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.button-menu {
  @media screen and (max-width: 1200px) {
    width: 70%;
  }
}
</style>
