<template>
  <div>
    <NotificationCard />
  </div>
</template>

<script>
import NotificationCard from "@/components/NotificationCard.vue";

export default {
  name: "HomeView",
  components: {
    NotificationCard,
  },
};
</script>
