<template>
  <div>
    <SelectMenu
      class="mt-3"
      v-model="currentStatus"
      :options="status_list"
      label-name="title"
      value-name="name"
    />
    <div class="d-flex justify-content-center mt-1 orders-options">
      <MDBSwitch label="Звук уведомления" v-model="notifyFlag" />
    </div>
    <!-- TODO: Добавить анимацию для заказов -->
    <div v-if="ordersToShow.length" class="orders-list__wrapper">
      <OrderCard
        v-for="(order, idx) in ordersToShow"
        :key="idx"
        :order="order"
        @deleteClick="on_delete_click"
      />
    </div>
    <h3 v-else class="text-center orders-list__plug">Здесь пока ничего нет</h3>
    <!-- Модальное окно удаления заказа -->
    <DialogModal
      v-model="showDeleteOrderModal"
      title="Удалить заказ?"
      :body-text="deleteOrderModalText"
      ok-text="Да, удалить"
      @ok="delete_order_by_id"
    />
  </div>
</template>

<script>
import { MDBSwitch } from "mdb-vue-ui-kit";
import SelectMenu from "@/components/SelectMenu.vue";
import OrderCard from "@/components/OrderCard.vue";
import DialogModal from "@/components/DialogModal.vue";
import { mapGetters, mapActions, mapState } from "vuex";

export default {
  name: "HomeView",
  components: {
    MDBSwitch,
    SelectMenu,
    OrderCard,
    DialogModal,
  },
  data() {
    return {
      currentStatus: "",
      showDeleteOrderModal: false,
      orderIdToDelete: 0,
      notify: new Audio("src/assets/notify.mp3"),
      notifyFlag: localStorage.getItem("notifyFlag") === "true",
    };
  },
  computed: {
    ...mapState({
      orders: (state) => state.orders.orders,
      status_list: (state) => state.orders.status_list,
    }),
    ...mapGetters(["GET_ORDERS_BY_STATUSES"]),
    // Заказы по категориям
    ordersToShow() {
      const ordersToShow =
        this.currentStatus === ""
          ? this.orders
          : this.GET_ORDERS_BY_STATUSES[this.currentStatus];
      ordersToShow.sort((a, b) => b.id - a.id);
      return ordersToShow;
    },
    deleteOrderModalText() {
      return `Вы действительно хотите удалить заказ №${this.orderIdToDelete}?`;
    },
  },
  methods: {
    ...mapActions(["get_orders", "delete_order"]),
    on_delete_click(order_id) {
      this.orderIdToDelete = order_id;
      this.showDeleteOrderModal = true;
    },
    delete_order_by_id() {
      this.showDeleteOrderModal = false;
      this.delete_order(this.orderIdToDelete);
      this.orderIdToDelete = 0;
    },
  },
  watch: {
    // Проверка, на изменение списка заказов
    "orders.length": function (newValue, oldValue) {
      if (newValue > oldValue && this.notifyFlag) this.notify.play();
    },
    notifyFlag: function () {
      localStorage.setItem("notifyFlag", this.notifyFlag.toString())
    },
  },
};
</script>
<style scoped lang="scss">
.orders-list {
  &__wrapper {
    height: 75vh;
    overflow-y: scroll;
    padding-bottom: 100px;
  }
}
</style>
