<template>
  <MDBContainer class="justify-content-center d-flex mt-3 scoreboard__wrapper">
    <MDBCard class="scoreboard__card">
      <MDBCardHeader class="text-center scoreboard__title"
        >В процессе</MDBCardHeader
      >
      <!-- TODO: Добавить анимацию -->
      <div class="scoreboard__list">
        <div
          class="scoreboard__item"
          v-for="(orderId, idx) in ordersIds['in_process']"
          :key="idx"
        >
          {{ orderId }}
        </div>
      </div>
    </MDBCard>
    <MDBCard class="scoreboard__card">
      <MDBCardHeader class="text-center scoreboard__title"
        >Готово</MDBCardHeader
      >
      <div class="scoreboard__list">
        <div
          class="scoreboard__item"
          v-for="(orderId, idx) in ordersIds['ready']"
          :key="idx"
        >
          {{ orderId }}
        </div>
      </div>
    </MDBCard>
  </MDBContainer>
</template>

<script>
import { MDBCardHeader, MDBContainer, MDBCard } from "mdb-vue-ui-kit";
import { mapGetters } from "vuex";

export default {
  name: "ScoreboardView",
  components: {
    MDBContainer,
    MDBCard,
    MDBCardHeader,
  },
  computed: {
    ...mapGetters(["GET_ORDERS_BY_STATUSES"]),
    ordersIds() {
      // Получить id тех заказов, в который статус - "Готов" или "В процессе"
      const readyIds = this.GET_ORDERS_BY_STATUSES["ready"].map(
        (order) => order.id
      );
      const inProcessIds = this.GET_ORDERS_BY_STATUSES["in_process"].map(
        (order) => order.id
      );
      return {
        ready: readyIds,
        in_process: inProcessIds,
      };
    },
  },
};
</script>

<style scoped lang="scss">
$card-height: 80vh;
.scoreboard {
  &__card {
    width: 50%;
    height: $card-height;
    margin-left: 10px;
    margin-right: 10px;
    // TODO: Добавить глобальный стиль для карточек
    border: 1px solid rgba(26, 7, 0, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  &__title {
    font-size: 60px;
  }
  &__list {
    height: calc($card-height - 150px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  &__item {
    font-size: 50px;
    line-height: 62px;
  }
}
</style>
