<template>
  <div>
    <CateringInfoForm />
  </div>
</template>

<script>
import CateringInfoForm from "@/components/CateringInfoForm.vue";

export default {
  name: "HomeView",
  components: {
    CateringInfoForm,
  },
};
</script>
