<template>
  <div>
    <SelectMenu
      class="mt-3"
      v-model="currentCategory"
      :options="categories"
      label-name="title"
      value-name="name"
    />
    <SearchMenu v-model="searchDish" />
    <div v-if="dishesToShow.length" class="stop-list__wrapper">
      <DishCard v-for="(dish, idx) in dishesToShow" :dish="dish" :key="idx">
        <MDBBtn
          @click="on_dish_action(dish.id)"
          class="me-3 button-menu"
          color="second"
          rounded
        >
          Убрать из стоп-листа
        </MDBBtn>
      </DishCard>
    </div>
    <h3 v-else class="text-center stop-list__plug">Здесь пока ничего нет</h3>
    <DialogModal
      v-model="showActionDishModal"
      title="Убрать из стоп-листа?"
      :body-text="dishModalBodyText"
      @ok="dishModalOnOk(IdActionDish)"
    />
  </div>
</template>

<script>
import { MDBBtn } from "mdb-vue-ui-kit";
import SearchMenu from "@/components/SearchMenu.vue";
import DishCard from "@/components/DishCard.vue";
import SelectMenu from "@/components/SelectMenu.vue";
import DialogModal from "@/components/DialogModal.vue";
import {mapActions, mapGetters, mapState} from "vuex";

export default {
  name: "HomeView",
  components: {
    SearchMenu,
    SelectMenu,
    DishCard,
    DialogModal,
    MDBBtn,
  },
  data() {
    return {
      currentCategory: "",
      IdActionDish: 0,
      showActionDishModal: false,
      searchDish: "",
    };
  },
  computed: {
    ...mapState({
      dishes: (state) => state.dishes.dishes,
      categories: (state) => state.dishes.categories,
    }),
    ...mapGetters(["GET_DISHES_BY_CATEGORIES"]),
    // Блюда до показа. Фильтр по категории и полю для поиска
    dishesToShow() {
      const dishes =
        this.currentCategory === ""
          ? this.dishes
          : this.GET_DISHES_BY_CATEGORIES[this.currentCategory];
      return dishes
        .filter((dish) => dish.is_stopped)
        .filter((dish) =>
          dish.name.toLowerCase().includes(this.searchDish.toLowerCase())
        );
    },
    dishModalBodyText() {
      return `Вы действительно хотите убрать из стоп-листа блюдо ${this.IdActionDish}?`;
    },
    dishModalOnOk() {
      return (dish_id) =>
        this.toggle_dish_stop_list({ dish_id, is_stopped: false });
    },
  },
  methods: {
    ...mapActions(["toggle_dish_stop_list"]),
    on_dish_action(dish_id) {
      this.IdActionDish = dish_id;
      this.showActionDishModal = true;
    },
  },
};
</script>
<style scoped lang="scss">
.stop-list__wrapper {
  height: 70vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
</style>
