<template>
  <MDBContainer
    class="align-items-center justify-content-center d-flex flex-column mt-3"
  >
    <div class="input-header">Настройки</div>
    <MDBRow tag="form" class="g-3 mt-3">
      <MDBInput label="Время работы" type="time" />
      <MDBInput label="Адрес" type="text" />
      <MDBTextarea label="Описание" rows="4" v-model="textareaValue" />
    </MDBRow>
    <div class="align-items-center justify-content-center d-flex flex-row mt-3">
      <MDBBtn color="main" class="me-3">Редактировать</MDBBtn>
      <MDBBtn color="second">Сохранить</MDBBtn>
    </div>
  </MDBContainer>
</template>
<script>
import {
  MDBTextarea,
  MDBRow,
  MDBInput,
  MDBContainer,
  MDBBtn,
} from "mdb-vue-ui-kit";
export default {
  components: {
    MDBTextarea,
    MDBInput,
    MDBRow,
    MDBContainer,
    MDBBtn,
  },
};
</script>
