<template>
  <div class="f-categories-list">
    <div
      class="f-categories-list__item"
      v-for="(category, idx) in categories"
      :key="idx"
      :style="{
        backgroundColor: category.bg_color,
        color: category.text_color,
      }"
    >
      {{ category.title }}
    </div>
  </div>
</template>

<script>
export default {
  name: "FCategoriesList",
  props: {
    categories: {
      type: Array,
    },
  },
};
</script>

<style scoped lang="scss">
.f-categories-list {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  gap: 5px;
  &__item {
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
</style>
