<template>
  <MDBModal id="deleteOrderModal" tabindex="-1" v-model="show">
    <MDBModalHeader>
      <MDBModalTitle id="deleteOrderModal"> {{ title }} </MDBModalTitle>
    </MDBModalHeader>
    <MDBModalBody>
      {{ bodyText }}
    </MDBModalBody>
    <MDBModalFooter>
      <MDBBtn color="second" class="button-menu" @click="onCancel">
        {{ cancelText }}
      </MDBBtn>
      <MDBBtn color="main" class="button-menu" @click="onOk">
        {{ okText }}
      </MDBBtn>
    </MDBModalFooter>
  </MDBModal>
</template>

<script>
import {
  MDBModal,
  MDBBtn,
  MDBModalFooter,
  MDBModalHeader,
  MDBModalBody,
  MDBModalTitle,
} from "mdb-vue-ui-kit";

export default {
  name: "DialogModal",
  components: {
    MDBModal,
    MDBBtn,
    MDBModalFooter,
    MDBModalHeader,
    MDBModalBody,
    MDBModalTitle,
  },
  props: {
    title: String,
    bodyText: String,
    okText: {
      type: String,
      default: "Да",
    },
    cancelText: {
      type: String,
      default: "Отменить",
    },
    modelValue: Boolean,
  },
  emits: ["update:modelValue", "ok", "cancel"],
  computed: {
    show: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  methods: {
    close() {
      this.show = false;
    },
    onOk() {
      this.close();
      this.$emit("ok");
    },
    onCancel() {
      this.close();
      this.$emit("cancel");
    },
  },
};
</script>

<style scoped></style>
