<template>
  <MDBContainer class="justify-content-center d-flex mt-3">
    <MDBCard class="menu-item__card p-3">
      <MDBRow class="g-0">
        <MDBCol md="5">
          <div class="menu-item__card-body">
            <!-- TODO: Добавить поддержку изображений из базы-->
            <div class="dish-photo menu-item__img">
              <img v-if="this.dish.img" :src="this.dish.img" loading="lazy" />
              <img
                v-else
                src="@/assets/dish.png"
                loading="lazy"
                alt="default-dish-photo"
              />
            </div>
            <div class="flex-column d-flex justify-content-center">
              <div class="flex-row d-flex">
                <div class="menu-item__name">{{ dish.name }}</div>
              </div>
              <CategoriesList :categories="dishCategories(dish)" />
              <div class="menu-item__descr">{{ dish.desc }}</div>
              <div class="menu-item__cost">{{ dish.price }} P</div>
            </div>
          </div>
        </MDBCol>
        <MDBCol md="7" class="menu-item__controls">
          <slot></slot>
        </MDBCol>
      </MDBRow>
    </MDBCard>
  </MDBContainer>
</template>
<script>
import {
  MDBRow,
  MDBCol,
  MDBCard,
  MDBCardBody,
  MDBContainer,
} from "mdb-vue-ui-kit";
import CategoriesList from "@/components/CategoriesList.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    MDBRow,
    MDBCol,
    MDBCard,
    MDBCardBody,
    MDBContainer,
    CategoriesList,
  },
  props: {
    dish: {
      type: Object,
    },
  },
  computed: {
    ...mapGetters({
      dishCategories: "GET_CATEGORIES_FOR_DISH",
    }),
  },
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.menu-item {
  &__card-body {
    display: flex;
    gap: 20px;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: end;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 5px;
    }
  }
  &__img {
    img {
      width: 80px;
      height: 80px;
    }
  }
}
</style>
