<template>
  <MDBModal
    :focus="false"
    id="editDishModal"
    tabindex="-1"
    v-model="show"
    centered
  >
    <MDBModalHeader>
      <MDBModalTitle id="deleteOrderModal">
        Редактирование блюда
      </MDBModalTitle>
    </MDBModalHeader>
    <MDBModalBody>
      <!-- Форма редактирования блюда -->
      <MDBInput
        class="menu-item__descr"
        label="Название"
        v-model="dishData.name"
      />
      <MultiSelectMenu
        v-model="dishData.categories"
        :options="categories.slice(1, categories.length)"
        label-name="title"
        value-name="id"
      />
      <MDBInput
        class="menu-item__descr"
        label="Описание"
        v-model="dishData.desc"
      />
      <MDBInput
        class="mb-3 menu-item__cost"
        label="Стоимость"
        v-model="dishData.price"
      />
      Изображение<br />
      {{ imageName }}
      <input
        class="mt-2 d-none"
        type="file"
        accept=".png, .jpg, .jpeg"
        @change="onPhotoUpload"
        ref="photoInput"
      />
      <div class="d-flex">
        <MDBBtn @click="$refs.photoInput.click()" class="mt-2" color="second">
          Выбрать файл
        </MDBBtn>
        <MDBBtn
          v-if="photoNotEmpty"
          @click="clearPhoto"
          class="mt-2"
          color="second"
        >
          Сбросить
        </MDBBtn>
      </div>
      <div
        v-if="photoNotEmpty"
        class="mt-2 d-flex dish-photo__preview__wrapper"
      >
        <img
          class="img-thumbnail dish-photo__preview"
          :src="previewImage"
          alt="previewImage"
        />
      </div>
    </MDBModalBody>
    <MDBModalFooter>
      <MDBBtn @click="close" color="second"> Отмена </MDBBtn>
      <MDBBtn @click="save_dish" color="main"> Сохранить изменения </MDBBtn>
    </MDBModalFooter>
  </MDBModal>
</template>
<script>
import {
  MDBModal,
  MDBModalHeader,
  MDBModalTitle,
  MDBModalBody,
  MDBModalFooter,
  MDBBtn,
  MDBInput,
} from "mdb-vue-ui-kit";
import MultiSelectMenu from "@/components/MultiSelectMenu.vue";
import { mapGetters, mapActions, mapState } from "vuex";

export default {
  components: {
    MDBModal,
    MDBModalHeader,
    MDBModalTitle,
    MDBModalBody,
    MDBModalFooter,
    MDBBtn,
    MDBInput,
    MultiSelectMenu,
  },
  props: {
    showModal: Boolean,
    dishId: Number,
    isNewDish: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["open", "close"],
  data() {
    return {
      currentCategory: "",
      currentCategories: [],
      show: false,
      dishData: {},
      dishDataImg: null,
      isDishDataImgEdit: false,
      previewImage: null,
      imageName: null,
    };
  },
  computed: {
    ...mapState({
      categories: (state) => state.dishes.categories,
    }),
    ...mapGetters({
      dishById: "GET_DISHES_BY_ID",
      defaultDish: "GET_DEFAULT_DISH",
    }),
    dish() {
      return this.dishById(this.dishId);
    },
    photoNotEmpty() {
      return this.previewImage;
    },
  },
  watch: {
    showModal() {
      this.show = this.showModal;
    },
    // Отслеживание состояния модалки
    show() {
      if (this.show) {
        this.$emit("open");
        // Если форма нового блюда, то добавляем новое, если редактирование, то копируем данные из выбранного блюда
        if (this.isNewDish) {
          //Пародия на глубокое копирование
          this.dishData = { ...this.defaultDish };
          this.dishData.categories = [...this.defaultDish.categories];
        } else {
          this.dishData = { ...this.dish };
          delete this.dishData.img;
          this.dishData.categories = [...this.dish.categories];
          this.previewImage = this.dish.img;
        }
      } else {
        this.$emit("close");
        this.clearData();
        this.isDishDataImgEdit = false;
      }
    },
  },
  methods: {
    ...mapActions(["set_dish_data_by_id", "set_dish_img_by_id", "add_dish"]),
    // Закрыть модалку
    close() {
      this.show = false;
    },
    // Очистка данных формы
    clearData() {
      this.clearPhoto();
      this.clearDishData();
    },
    // Валидация формы
    check_form() {
      return (
        this.dishData.name !== "" &&
        this.dishData.price !== "" &&
        this.dishData.categories.length
      );
    },
    // Сохранить блюдо
    save_dish() {
      // Если форма прошла валидацию, то сохранить
      if (this.check_form()) {
        const isImgEdit = this.isDishDataImgEdit;
        const dishImg = this.dishDataImg;
        if (this.isNewDish) {
          this.add_dish(this.dishData).then((response) => {
            if (isImgEdit)
              this.set_dish_img_by_id({
                dish_img: dishImg,
                dish_id: response.data.id,
              });
          });
        } else {
          this.set_dish_data_by_id({
            dish: this.dishData,
            dish_id: this.dishId,
          });
          // Если фото было отредактированною, то сохранить фото
          if (isImgEdit) {
            this.set_dish_img_by_id({
              dish_img: dishImg,
              dish_id: this.dishId,
            });
          }
        }
        this.close();
      } else alert("Заполните всю информацию о блюде");
    },
    // Очистить фото блюда
    clearPhoto() {
      this.$refs.photoInput.value = null;
      this.previewImage = null;
      this.imageName = null;
      this.dishDataImg = "";
      this.isDishDataImgEdit = true;
    },
    // Очистить данные блюда
    clearDishData() {
      this.dishData = {};
    },
    // Хендлер загрузки фото блюда
    onPhotoUpload(event) {
      const image = event.target.files[0];
      this.dishDataImg = image;
      this.isDishDataImgEdit = true;
      // Если не png или jpeg, то очистить форму
      if (image.type !== "image/jpeg" && image.type !== "image/png") {
        this.clearPhoto();
        alert("Загрузите фото");
      } else {
        this.imageName = image.name;
        const reader = new FileReader();
        reader.readAsDataURL(image);
        reader.onload = (e) => {
          this.previewImage = e.target.result;
        };
      }
    },
  },
};
</script>
<style scoped lang="scss">
.dish-photo__preview {
  &__wrapper {
    width: 250px;
    height: 200px;
    object-fit: contain;
  }
}
</style>
