<template>
  <MDBContainer class="justify-content-center d-flex">
    <!-- TODO: Поправить стили -->
    <MDBCard
      class="p-2 card-order"
      style="width: 60%; border: 1px solid rgba(26, 7, 0, 0.3)"
    >
      <MDBRow class="g-0">
        <MDBCol md="4" sm="6" class="d-flex align-items-center dish-info">
          <div class="dish-photo dish-info__img">
            <img v-if="this.dish.img" :src="this.dish.img" loading="lazy" />
            <img
              v-else
              src="@/assets/dish.png"
              loading="lazy"
              alt="default-dish-photo"
            />
          </div>
          <div class="dish-name ms-3">{{ dish.name }}</div>
        </MDBCol>
        <MDBCol md="8" sm="6" class="dish-info">
          <MDBCardBody class="order-count d-flex align-items-end flex-column">
            <div class="dish-cost">{{ dish.price }} ₽</div>
            <div class="dish-count">{{ dish.amount }} шт</div>
          </MDBCardBody>
        </MDBCol>
      </MDBRow>
    </MDBCard>
  </MDBContainer>
</template>
<script>
import {
  MDBRow,
  MDBCol,
  MDBCard,
  MDBCardBody,
  MDBContainer,
} from "mdb-vue-ui-kit";
export default {
  components: {
    MDBRow,
    MDBCol,
    MDBCard,
    MDBCardBody,
    MDBContainer,
  },
  props: {
    dish: {
      type: Object,
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.dish-info {
  &__img {
    img {
      width: 72px;
      height: 72px;
    }
  }
}
</style>
