<template>
  <MDBContainer class="d-flex justify-content-center align-items-center">
    <div class="login-form p-5">
      <MDBRow tag="form" class="g-3 justify-content-center d-flex">
        <div class="fs-2 mt-0 header">Столовая</div>
        <div class="login-form__wrapper">
          <div class="login-form__input">
            <MDBInput
              class="login-form__input-field"
              label="Имя пользователя"
              type="text"
              v-model="username"
            />
          </div>
          <div class="login-form__input">
            <MDBInput
              class="login-form__input-field"
              label="Пароль"
              :type="showPassword"
              v-model="password"
            />
          </div>
          <MDBCheckbox label="Показать пароль" v-model="isShowPassword" />
          <div class="d-grid gap-2 col-8 mx-auto">
            <MDBBtn class="" color="main" @click="login_check">Войти</MDBBtn>
          </div>
        </div>
      </MDBRow>
    </div>
  </MDBContainer>
</template>
<script>
import {
  MDBRow,
  MDBInput,
  MDBBtn,
  MDBContainer,
  MDBCheckbox,
} from "mdb-vue-ui-kit";
import { mapActions } from "vuex";

export default {
  components: {
    MDBRow,
    MDBContainer,
    MDBInput,
    MDBBtn,
    MDBCheckbox,
  },
  data() {
    return {
      username: "",
      password: "",
      isShowPassword: false,
    };
  },
  computed: {
    showPassword() {
      if (this.isShowPassword) return "text";
      else return "password";
    },
  },
  methods: {
    ...mapActions(["log_in"]),
    login_check() {
      if (this.username !== "" && this.password !== "") {
        this.log_in({ username: this.username, password: this.password }).then(
          (response) => {
            if (response?.name === "AxiosError") {
              if (response.response.status === 400) {
                alert("Неверный логин или пароль!");
              } else if (response.response.status === 401) {
                alert(
                  "Произошла ошибка при авторизации, пожалуйста повторите попытку."
                );
              } else {
                console.log(response.response.statusText);
              }
            }
          }
        );
      } else {
        alert("Введите логин и пароль");
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.login-form {
  &__wrapper {
    background-color: white;
    padding: 68px;
    border-radius: 15px;
  }
  &__input {
    margin-bottom: 40px;
  }
}
</style>
