<template>
  <MDBNavbar
    class="d-flex justify-content-between"
    expand="lg"
    dark
    bg="main"
    container
  >
    <MDBNavbarBrand href="#">Столовая</MDBNavbarBrand>
    <MDBNavbarToggler
      @click="mainNavbarCollapse = !mainNavbarCollapse"
      target="#navbarSupportedContent"
    ></MDBNavbarToggler>
    <MDBCollapse v-model="mainNavbarCollapse" id="navbarSupportedContent">
      <MDBNavbarNav class="mb-2 mb-lg-0">
        <MDBNavbarItem to="/orders" :active="navItemIsActive('orders')">
          Заказы
        </MDBNavbarItem>
        <MDBNavbarItem to="/menu" :active="navItemIsActive('menu')">
          Меню
        </MDBNavbarItem>
        <MDBNavbarItem to="/stop-list" :active="navItemIsActive('stop-list')">
          Стоп-лист
        </MDBNavbarItem>
        <MDBNavbarItem to="/scoreboard" :active="navItemIsActive('scoreboard')">
          Табло
        </MDBNavbarItem>
      </MDBNavbarNav>

      <div class="navbar-nav navbar-main mb-2 mb-lg-0 d-flex flex-row ms-auto">
<!--        <MDBNavbarItem
          to="/notifications"
          class="me-3 me-lg-0"
          linkClass="link-secondary"
          :active="navItemIsActive('notifications')"
        >
          <MDBIcon icon="bell" />
          <MDBBadge notification color="danger" pill>1</MDBBadge>
        </MDBNavbarItem>-->
<!--        <MDBNavbarItem
          to="/settings"
          class="me-3 me-lg-0"
          linkClass="link-secondary"
          :active="navItemIsActive('settings')"
          ><MDBIcon><i class="fas fa-cog"></i></MDBIcon
        ></MDBNavbarItem>-->
        <MDBNavbarItem
          @click.prevent="onLogout"
          to="#"
          class="me-3 me-lg-0"
          linkClass="link-secondary"
          :active="navItemIsActive('login')"
          ><MDBIcon><i class="fas fa-door-open"></i></MDBIcon
        ></MDBNavbarItem>
      </div>
    </MDBCollapse>
  </MDBNavbar>
</template>
<script>
import {
  MDBNavbar,
  MDBNavbarItem,
  MDBNavbarBrand,
  MDBNavbarNav,
  MDBNavbarToggler,
  MDBBadge,
  MDBIcon,
  MDBCollapse,
} from "mdb-vue-ui-kit";
import { mapActions } from "vuex";

export default {
  components: {
    MDBNavbar,
    MDBNavbarItem,
    MDBNavbarBrand,
    MDBNavbarNav,
    MDBNavbarToggler,
    MDBBadge,
    MDBIcon,
    MDBCollapse,
  },
  data() {
    return {
      mainNavbarCollapse: false,
    };
  },
  computed: {
    navItemIsActive() {
      return (routeName) => routeName === this.$router.currentRoute.value.name;
    },
  },
  methods: {
    ...mapActions(["log_out"]),
    onLogout() {
      this.log_out()
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
