<template>
  <MDBContainer class="justify-content-center d-flex p-2">
    <MDBBtn
      v-for="(option, idx) in options"
      @click="editActive(option[valueName])"
      class="order-button p-2"
      :style="{ backgroundColor: option?.bg_color, color: option?.text_color }"
      :class="[activeClass(option[valueName])]"
      rounded
      :key="idx"
    >
      {{ option[labelName] }}
    </MDBBtn>
  </MDBContainer>
</template>
<script>
import { MDBBtn, MDBContainer } from "mdb-vue-ui-kit";

export default {
  components: {
    MDBBtn,
    MDBContainer,
  },
  props: {
    modelValue: Array,
    options: Array,
    labelName: {
      type: String,
      default: "label",
    },
    valueName: {
      type: String,
      default: "value",
    },
  },
  computed: {
    currentList: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
    activeClass() {
      return function (optionValue) {
        return this.currentList.indexOf(optionValue) !== -1
          ? "active-status"
          : "";
      };
    },
  },
  methods: {
    // Изменение текущего значения (списка значений)
    editActive(optionValue) {
      if (this.currentList.indexOf(optionValue) === -1) {
        this.currentList = [...this.currentList, optionValue];
      } else {
        const editedValue = this.currentList;
        editedValue.splice(this.currentList.indexOf(optionValue), 1);
        this.currentList = editedValue;
      }
    },
  },
};
</script>
<style scoped lang="scss">
.active-status {
  border: 1px solid rgba(31, 27, 27, 0.41);
}
</style>
