<template>
<MDBContainer  class="justify-content-center d-flex mt-3">
  <MDBCard class="card-order p-3" style="width: 70%; border: 1px solid rgba(26, 7, 0, 0.3);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;">
   
    <MDBRow class="g-0">
      <MDBCol md="6">
        <div class="flex-row d-flex" style="gap: 30px;">
        <div class="menu-photo ">
            <img src="../assets/notice.png" alt="">
        </div>
          <!-- <div class="order-status" style="color: #FF4200;background: #FFE8E0;
border-radius: 15px; width: 70px; display:block; text-align: center;">
              Новый
          </div> -->
          <div class="flex-column d-flex justify-content-center">
                <div class='menu-name'>
                Новый заказ 
                </div>
            <div class="notice-date">
                17-01-2023 20:56
            </div>
           
          </div>
        </div>

      </MDBCol>
      <MDBCol md="6" class="d-flex align-items-center">
        <MDBCardBody class="d-flex align-items-center justify-content-end">
           <MDBBtn class="me-3 button-menu" color="second" rounded>Удалить</MDBBtn>
            
        </MDBCardBody>
      </MDBCol>
    </MDBRow>
  </MDBCard>
</MDBContainer>
</template>
<script>
  import { MDBRow, MDBCol, MDBCard, MDBCardBody, MDBCardTitle, MDBCardText, MDBBtn, MDBContainer,MDBDropdown, MDBDropdownToggle, MDBDropdownMenu, MDBDropdownItem } from "mdb-vue-ui-kit";
  import { ref } from 'vue';
  export default {
    components: {
      MDBRow,
      MDBCol,
      MDBCard,
      MDBCardBody,
      MDBCardTitle,
      MDBCardText,
      MDBBtn,
      MDBContainer,
       MDBDropdown,
      MDBDropdownToggle,
      MDBDropdownMenu,
      MDBDropdownItem

   },
    setup() {
      const dropdown1 = ref(false);
      return {
        dropdown1
      }
    }
  };
  
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
