<template>
  <MDBContainer class="justify-content-center d-flex mt-3">
    <MDBCard class="orders-item__card p-4">
      <MDBRow class="g-0">
        <MDBCol sm="8" lg="5">
          <!-- Информация о заказе -->
          <MDBBadge
            class="orders-item__status"
            pill
            color="primary"
            :style="{
              backgroundColor: orderStatusView(order.status).bg_color,
              color: orderStatusView(order.status).text_color,
            }"
          >
            {{ orderStatusView(order.status).title }}
          </MDBBadge>
          <div class="order-number">Номер заказа: {{ order.id }}</div>
          <!-- TODO: Поправить стили-->
          <div
            class="order-date"
            style="color: rgba(26, 7, 0, 0.3); line-height: 1"
          >
            {{ orderFormatTime }}
            <br />
            {{ orderFormatDate }}
          </div>

          <div class="order-cost mt-3">{{ summaryPrice }} ₽</div>
          <div v-if="order.delivery_time" class="mt-1">
            Время выдачи заказа: {{ order.delivery_time }}
          </div>
          <div v-else>Выдача по готовности</div>
<!--          <div
            class="order-pay"
            style="color: rgba(26, 7, 0, 0.3); line-height: 0.5"
          >
            {{ paid_types[order.paid_type] }}
          </div>-->
        </MDBCol>
        <MDBCol sm="4" lg="7">
          <MDBCardBody>
            <div
              class="d-flex flex-wrap flex-column flex-md-row align-items-center justify-content-end"
            >
              <!-- Управление заказом -->
              <!-- Поправить стили -->
              <MDBBtn
                class="button-menu mt-1"
                style="width: auto"
                color="second"
                rounded
                size="sm"
                @click="collapseDishList = !collapseDishList"
                >Блюда</MDBBtn
              >
              <MDBDropdown v-model="dropdownStatus">
                <MDBDropdownToggle
                  size="sm"
                  @click="dropdownStatus = !dropdownStatus"
                  color="second"
                  style="border-radius: 15px"
                  class="button-menu mt-1"
                >
                  Статус
                </MDBDropdownToggle>
                <MDBDropdownMenu aria-labelledby="dropdownMenuButton">
                  <MDBDropdownItem
                    href="#"
                    v-for="(status, idx) in status_list.slice(
                      1,
                      status_list.length
                    )"
                    @click="edit_status(order.id, status.name)"
                    :key="idx"
                    :id="order.id"
                  >
                    {{ status.title }}
                  </MDBDropdownItem>
                </MDBDropdownMenu>
              </MDBDropdown>
              <MDBBtn
                color="second"
                class="button-menu mt-1"
                style="width: auto"
                rounded
                size="sm"
                @click="deleteClick(order.id)"
              >
                Удалить
              </MDBBtn>
            </div>
          </MDBCardBody>
        </MDBCol>
      </MDBRow>
      <MDBRow>
        <div class="mt-2 order-item__client-info">
          <div class="order-item__client-info__title">
            <b>Информация о клиенте</b>
          </div>
          <div class="order-item__email">
            Telegram: {{ order.tg_user_data.username }}
          </div>
          <div class="order-item__name">
            Имя: {{ order.tg_user_data.first_name }} {{ order.tg_user_data.last_name }}
          </div>
          <div v-if="order.comment !== ''" class="order-item__comment">
            Комментарий: {{ order.comment }}
          </div>
        </div>
      </MDBRow>
    </MDBCard>
  </MDBContainer>
  <!-- Список блюд в заказе -->
  <MDBCollapse
    v-model="collapseDishList"
    id="order-dish-list"
    class="order-dish__list"
  >
    <DishOrderCard v-for="(dish, idx) in orderDishes" :key="idx" :dish="dish" />
  </MDBCollapse>
</template>
<script>
import {
  MDBRow,
  MDBCol,
  MDBCard,
  MDBCardBody,
  MDBBtn,
  MDBBadge,
  MDBContainer,
  MDBDropdown,
  MDBDropdownToggle,
  MDBDropdownMenu,
  MDBDropdownItem,
  MDBCollapse,
} from "mdb-vue-ui-kit";
import DishOrderCard from "@/components/DishOrderCard.vue";
import {mapActions, mapGetters, mapState} from "vuex";

export default {
  components: {
    MDBRow,
    MDBCol,
    MDBCard,
    MDBCardBody,
    MDBBtn,
    MDBBadge,
    MDBContainer,
    MDBDropdown,
    MDBDropdownToggle,
    MDBDropdownMenu,
    MDBDropdownItem,
    MDBCollapse,
    DishOrderCard,
  },
  props: {
    order: {
      type: Object,
    },
  },
  data() {
    return {
      dropdownStatus: false,
      collapseDishList: false,
    };
  },
  mounted() {
    this.collapseDishList = true;
  },
  computed: {
    ...mapState({
      dishes: (state) => state.dishes.dishes,
    }),
    ...mapGetters({
      dish_by_id: "GET_DISHES_BY_ID",
      paid_types: "GET_PAID_TYPES",
      status_list: "GET_STATUS_LIST",
    }),
    orderDishes() {
      // TODO: Добавить отображение, если блюдо находится в стоп-листе
      return this.order.dishes?.map((order_dish) => {
        const orderDishInfo = {
          ...this.dishes.find((dish) => dish.id === order_dish.dish),
        };
        orderDishInfo.amount = order_dish.amount;
        return orderDishInfo;
      });
    },
    orderStatusView() {
      return (orderStatus) =>
        this.status_list.find((status) => status.name === orderStatus);
    },
    summaryPrice() {
      let sum = 0;
      this.orderDishes?.forEach((dish) => (sum += dish.price * dish.amount));
      return sum;
    },
    orderFormatTime() {
      return new Date(this.order.create_time).toLocaleTimeString();
    },
    orderFormatDate() {
      return new Date(this.order.create_time).toLocaleDateString();
    },
  },
  methods: {
    ...mapActions(["edit_order_status"]),
    // Изменить статус заказа
    edit_status(order_id, status) {
      // Дублирование кода
      this.edit_order_status({ order_id, status });
    },
    deleteClick(order_id) {
      this.$emit("deleteClick", order_id);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.orders-item {
  &__status {
    position: absolute;
    top: 0;
    left: 50px;
    padding-left: 15px;
    padding-right: 15px;
    transform: translateY(-50%);
  }
  &__client-info {
    margin-top: 15px
  }
}
.order-dish {
  &__list {
    position: relative;
    z-index: -1;
    top: -5px;
  }
}
</style>
