<template>
  <MDBContainer class="mt-3">
    <MDBInput
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      inputGroup
      :formOutline="false"
      wrapperClass="mb-3"
      placeholder="Поиск"
      aria-label="Поиск"
      aria-describedby="button-addon2"
    >
      <MDBBtn color="main">
        <MDBIcon icon="search" />
      </MDBBtn>
    </MDBInput>
  </MDBContainer>
</template>
<script>
import { MDBInput, MDBBtn, MDBIcon, MDBContainer } from "mdb-vue-ui-kit";

export default {
  components: {
    MDBInput,
    MDBBtn,
    MDBIcon,
    MDBContainer,
  },
  props: ["modelValue"],
  emits: ["update:modelValue"],
};
</script>
