<template>
  <MDBContainer class="justify-content-center d-flex p-2">
    <MDBBtn
      v-for="(option, idx) in options"
      class="order-button p-2"
      :style="{ backgroundColor: option.bg_color, color: option.text_color }"
      :class="[isActive(option[valueName])]"
      rounded
      @click="setActive(option[valueName])"
      :key="idx"
    >
      {{ option[labelName] }}
    </MDBBtn>
  </MDBContainer>
</template>
<script>
import { MDBBtn, MDBContainer } from "mdb-vue-ui-kit";

export default {
  components: {
    MDBBtn,
    MDBContainer,
  },
  props: {
    modelValue: String,
    options: Array,
    labelName: {
      type: String,
      default: "label",
    },
    valueName: {
      type: String,
      default: "value",
    },
  },
  computed: {
    currentValue: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
    isActive() {
      return (optionValue) =>
        this.currentValue === optionValue ? "active-status" : "";
    },
  },
  methods: {
    setActive(optionValue) {
      this.currentValue = optionValue;
    },
  },
};
</script>
<style scoped lang="scss">
.active-status {
  border: 1px solid rgba(31, 27, 27, 0.41);
}
</style>
