// TODO: Перенести стили по компонентам

.menu-item__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #000000;
}
.menu-item__descr {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin-top: 10px;
    color: rgba(26, 7, 0, 0.3);
}
.menu-item__cost {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #1A0700;
    margin-top: 10px;
}
.menu-item__type {
    display: flex;
    width: 68px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 66, 0, 0.1);
    border-radius: 5.60606px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FF4200;
    margin-left: 10px;
}
.input-header {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
}
.login {
    width: 512px;
    height: 337px;
    background: #FFE8E0;
    border-radius: 15px;
    margin-top:10%;
    display: flex;
    justify-content: center;
}
.in {
    width: 140px;
    height: 40px;
}
.header {
    text-align: center;
    margin: 0 auto;
    color:#FF4200;
}
.menu-item__card {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.dish-photo {
  img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.menu-item__card, .orders-item__card {
  width: 70%;
  border: 1px solid rgba(26, 7, 0, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
@media (max-width: 992px) {
    .button-menu {
        margin-right: 0 !important;
        font-size: 12px;
        padding:0.375rem 0.75rem;
    }
    .menu-item__card{
        padding: 0;
        padding-top: 10px;
    }
    .menu-item__photo {
        display: none;
    }
    .dish-photo {
        display: none;
    }
    .menu-item__type {
        display: none;
    }

 }
 @media (max-width: 768px) {
    .order-button {
        margin-right: 10px !important;
    }
    .order-count {
        padding: 10px;
    }
 }
 @media (max-width: 576px) {
    .dish-info {
        width: 50%;
    }
    .order-button {
        font-size: 10px;
        margin-right: 2px !important;
        padding: 0.375rem 0.75rem;;
    }
    .menu-item__card {
        width: 100% !important;
    }
 }