<template>
  <MainNavbar />
  <router-view />
</template>

<script>
import MainNavbar from "@/components/MainNavbar";
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  name: "App",
  components: {
    MainNavbar,
  },
  data() {
    return {
      getOrdersIntervalId: null,
    };
  },
  computed: {
    ...mapGetters({
      token: "GET_TOKEN",
      login_status: "GET_LOGIN_STATUS",
    }),
  },
  methods: {
    ...mapActions([
      "get_categories",
      "get_dishes",
      "get_user",
      "get_orders",
      "log_out",
    ]),
    ...mapMutations(["SET_SUCCESS_STATUS"]),
    checkLoginStatus(status) {
      if (status === "success") {
        // Если успешная авторизация, перейти на главную и начать получать данные
        this.$router.push("/");
        this.get_categories();
        this.get_dishes();
        this.get_orders();
        this.getOrdersIntervalId = setInterval(this.get_orders, 3000);
      } else if (status === "logout" || status === "error") {
        // Если авторизация не успешная или вышел, то перестать получать заказы
        this.$router.push("/login");
        if (this.getOrdersIntervalId !== null) {
          clearInterval(this.getOrdersIntervalId);
        }
      }
    },
  },
  mounted() {
    if (this.token && this.token !== "") {
      this.get_user();
      this.SET_SUCCESS_STATUS(this.token);
    }
  },
  watch: {
    login_status(newStatus) {
      this.checkLoginStatus(newStatus);
    },
  },
};
</script>

<style lang="scss">
@import "~@/../mdb/scss/index.free.scss";
@import "src/assets/style.scss";

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
</style>
